<div class="container-fluid">

    <div class="form-group">

        <input type="text" class="form-control" [(ngModel)]="this.noticias.articles.title" id="title" name="title" placeholder="Título de la Noticia">
        <input type="text" class="form-control" [(ngModel)]="this.noticias.articles.description" id="description" name="description" placeholder="Descripción">
        <textarea  class="form-control" [(ngModel)]="this.noticias.articles.content" id="content" placeholder="Contenido...." rows="3"></textarea>
        <input type="text" class="form-control" [(ngModel)]="this.noticias.articles.url" id="url" name="url" placeholder="Ingresar Url">
        <div class="p-col">Ingrese Imagen 1
            <input class="form-control" id="formFile" type="file" accept="image/*" (change)="onBasicUpload($event)">
        </div>
        <img src="{{imagenObtenidaMostrar}}" width="200px">

        

    </div>

    <div class="form-group">
        <button class="btn btn-primary" (click)="edit ? updateDisenos() : saveDisenos()">Aceptar</button>
        <button type="button" class="btn btn-info boton__dere" routerLink="/news">Regresar</button>
    </div>


</div>
